body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#container{
    width: 70%;
    padding: 1.5em;
    border: 1px solid grey;
    margin: 0 auto;
    font-size: 16px;
}

#post{
    text-align: center;
}

.post-title-1{
    margin: 0px;
    padding: 0.5em 0px;
    text-align: left;
}

.post-parrafo{
    margin: 0px;
    text-align: justify;
}

.post-image{
    padding: 0.5em 0px;
}
