body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid grey;
    margin: 0 auto;
    font-size: 16px;
}

#container h1{
    font-size: 20px;
    text-align: center;
    color: rgb(143, 143, 143);
    }

#cabecera{
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid  rgb(143, 143, 143);
}

#cabecera h2{
    margin: 0px;
}

